{% extends 'main/base.html' %}
{% block content %}

    <div class="container">
        <div class="col-sm-12">
            <h3>{{ post.title }}</h3>
            <p>{{ post.created_date }}</p>
            <p>{{ post.description }}</p>
            <a>{{ post.tag_set.all|join:", " }}</a><br>
            <p>{{ post.user.username }}</p>
            <p>{{ post.like }} <a class="post-like" href="{% url 'post:post-like' post.id %}">Нравится</a></p>

        </div>



        <div class="col-sm-12">
            <div class="row">
                {% for comment in post.comment_set.all %}
                    <ul class="media-list">
                        <li class="media">
                            <hr>
{#                            <a class="media-left" href="{% url 'blog:author-detail' comment.user.id %}">#}
{#                                <img src="{{ comment.user.author.image.url }}" alt="{{ comment.user.author.handle }}"#}
{#                                     style="height: 100px;">#}
{#                                <p class="text-center">{{ comment.user.author.handle }}</p>#}
{#                            </a>#}
                            <div class="media-body">
                                {{ comment.text }}<br>
                                {{ comment.published_date }}<br>
                                {{ comment.user.username }}
                                <p>{{ comment.like }} <a class="comment-like" href="{% url 'post:comment-like' comment_pk=comment.id %}">Нравится</a></p>
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>

    <div class="col-sm-12">
            <form action="{% url 'post:post-comment' post.id %}" class="form form-horizontal" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea name="text" rows="10" style="width: 100%"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Оставить коментарий</button>
                    </div>
                </div>
            </form>
        </div>

    </div>


{% endblock %}