{% extends 'main/base.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'post/post-list.js' %}"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}


{% block middle %}
    <link rel="stylesheet" type="text/css" href="{% static 'post/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'post/tinymce.css' %}">

    <!--<h1>Posts</h1>
<form action="{% url "post:post-create" %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form> !-->

    <div class="search-menu">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle filter-btn" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Последнее
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item dropdown-item-properties" href="#">Action</a>
                <a class="dropdown-item dropdown-item-properties" href="#">Another action</a>
                <a class="dropdown-item dropdown-item-properties" href="#">Something else here</a>
            </div>
        </div>

        {#        <div class="input-group mb-3 input-group-search">#}
        {#            <div class="input-group-prepend">#}
        {#                <button type="button" class="btn btn-outline-secondary">#}
        {#                    <i class="fa fa-search"></i>#}
        {#                </button>#}
        {#            </div>#}
        {#            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">#}
        {#        </div>#}

        <div>
            <input type="text" class="form-control empty input-group-search" id="iconified" placeholder="Поиск"/>
        </div>

        <div class="add-post-btn">
            <button class="btn btn-default add-post-img" data-toggle="modal" data-target="#addPost"
                    data-whatever="@mdo">
                <img src="/media/edit.svg" width="20"/>
            </button>
        </div>

    </div>


    <div class="add-new-post">

        <div class="modal fade" id="addPost" tabindex="-1" role="dialog" aria-labelledby="addPostLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content add-post-content">
                    <div class="modal-header modal-header-properties">
                        <h5 class="modal-title add-post-title" id="addPostLabel">Опубликовать вопрос</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url "post:post-create" %}" method="post" id="post-create-form">
                            {% csrf_token %}
                            <div class="form-group">
                                {#                                <label for="recipient-name" class="col-form-label">Recipient:</label>#}
                                <input type="text" class="form-control post-title-properties" id="post-title"
                                       placeholder="Тема вопроса" name="title">
                            </div>
                            <div class="form-group">
                                <label for="add-post-text" class="col-form-label add-post-text-label">Ваш вопрос</label>
                                <textarea id="mytextarea" class="form-control add-post-textarea"
                                          name="description"></textarea>
                            </div>
                            <div class="form-group tags-list">
                                <input type="text" id="tag_input" name="tags"
                                       class="form-control tag-input-properties tag tag-input-big"
                                       placeholder="Введите тэги через запятую, например “пособие, семья”">
                            </div>
                            <div class="float-right ">
                                <label class="custom-checkbox">
                                    Задать анонимно
                                    <input type="checkbox" name="is_anonymous" id="anonymous_checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>


                            <select class="custom-select select-rubrika" name="category">
                                <option selected>Выберите рубрику</option>
                                {% for category in categories_list %}
                                    {% if category.name != 'Прямой эфир' %}
                                        <option class="rubrika-item">{{ category.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>


                        </form>
                    </div>
                    <div class="modal-footer footer-add-post-properties">
                        <button type="button" class="btn btn-secondary cancel-add-post-btn" data-dismiss="modal">
                            Отмена
                        </button>
                        <button type="button" class="btn btn-primary post-btn" id="post-create-submit-btn">
                            Опубликовать
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="page-header">
    </div>
    <ul style="list-style: none;">
        {% for post in object_list %}
            <li>
                <hr>
                <div class="post-created-date-div">
                    <p class="post-created-date">{{ post.created_date|date:"M-d H:i" }}</p>
                    <div class="btn-group" role="group">
                        <button class="post-created-date-btn " id="btnGroupDrop1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><i
                                class="fas fa-ellipsis-v post-create-date-more-i" aria-hidden="true"></i></button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start"
                             style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 27px, 0px);">
                            <a href="{% url 'post:post-update' post.id %}" class="dropdown-item update-delete-post-btn">Изменить</a>
                            <form action="{% url 'post:post-delete' post.id %}" method="post">
                                {% csrf_token %}
                                <button class="dropdown-item update-delete-post-btn">Удалить</button>
                            </form>
                        </div>
                    </div>
                </div>

                <h3 class="post-title"><a href="{% url 'post:detail' post.id %}">{{ post.title }}</a></h3>
                <p class="post-description">{{ post.description|safe }}</p>

                {% if not post.is_anonymous %}
                    <div class="post-create-user-properties">
                        <div style="width: 24px; height: 24px; background-color: #545b62; border-radius: 50%"></div>
                        <p class="post-create-user">{{ post.user.username }}</p>
                    </div>
                {% endif %}

                <div class="tags-properties">
                    <div>
                        <img src="/media/tag.svg" alt="" style="width: 16px; height: 16px;">

                        {% for tag in post.tag_set.all %}
                            <a class="tags" href="{% url 'tag:tag-detail' tag.slug %}">{{ tag }}</a>
                        {% endfor %}

                    </div>
                    <div class="post-comment-like-bookmark-div">
                        {# comment#}
                        <p>
                            <a><i class="far fa-comment-alt comment-icon"></i></a>
                            <span>2</span>
                        </p>

                        {# likes#}
                        <p class="post-like-p">
                            <a class="post-like" href="{% url 'post:post-like' post.id %}"><i class="far fa-heart"></i></a>
                            <span>{{ post.like_count }}</span>
                        </p>

                        {# bookmark#}
                        <p class="bookmark-p">
                            <a>
                                <i class="far fa-bookmark bookmark-icon"></i>
                            </a>
                        </p>
                    </div>
                </div>


            </li>
        {% empty %}
            <li>No posts yet.</li>
        {% endfor %}
    </ul>
{% endblock %}

# Categories
{% block left %}
    <ul>
        {% for category in categories_list %}
            <li class="category-item">
                <a class="category-a" href="?category={{ category.slug }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

