{% extends 'main/base.html' %}
{% block middle %}
    {% load static %}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea',
            toolbar: 'bold  italic underline | emoticons image ',
            menubar: false,
            branding: false,
            plugins: "emoticons image contextmenu media",
            image_dimensions: false,
            paste_data_image: true,
            file_picker_types: 'image',
            file_picker_callback: function (cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                /*
                  Note: In modern browsers input[type="file"] is functional without
                  even adding it to the DOM, but that might not be the case in some older
                  or quirky browsers like IE, so you might want to add it to the DOM
                  just in case, and visually hide it. And do not forget do remove it
                  once you do not need it anymore.
                */

                input.onchange = function () {
                    var file = this.files[0];

                    var reader = new FileReader();
                    reader.onload = function () {
                        /*
                          Note: Now we need to register the blob in TinyMCEs image blob
                          registry. In the next release this part hopefully won't be
                          necessary, as we are looking to handle it internally.
                        */
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        var base64 = reader.result.split(',')[1];
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);

                        /* call the callback and populate the Title field with the file name */
                        cb(blobInfo.blobUri(), {title: file.name});
                    };
                    reader.readAsDataURL(file);
                };

                input.click();
            }
        });
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'post/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'post/tinymce.css' %}">
    {#    <script>#}
    {#        $('.tag').html(function (i, v) {#}
    {#            var html = v.split(',');#}
    {#            $(html[0] + ',' + '<span class="tag_span">' + html[1] + '</span>').prependTo(".tags-span");#}
    {#            return html[0] + ',' + '<span class="tag_span">' + html[1] + '</span>'#}
    {#        });#}
    {#    </script>#}

    <!--<h1>Posts</h1>
<form action="{% url "post:post-create" %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form> !-->

    <div class="search-menu">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle filter-btn" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Последнее
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item dropdown-item-properties" href="#">Action</a>
                <a class="dropdown-item dropdown-item-properties" href="#">Another action</a>
                <a class="dropdown-item dropdown-item-properties" href="#">Something else here</a>
            </div>
        </div>

        {#        <div class="input-group mb-3 input-group-search">#}
        {#            <div class="input-group-prepend">#}
        {#                <button type="button" class="btn btn-outline-secondary">#}
        {#                    <i class="fa fa-search"></i>#}
        {#                </button>#}
        {#            </div>#}
        {#            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">#}
        {#        </div>#}

        <div>
            <input type="text" class="form-control empty input-group-search" id="iconified" placeholder="Поиск"/>
        </div>

        <div class="add-post-btn">
            <button class="btn btn-default add-post-img" data-toggle="modal" data-target="#addPost"
                    data-whatever="@mdo">
                <img src="/media/edit.svg" width="20"/>
            </button>
        </div>

    </div>


    <div class="add-new-post">

        <div class="modal fade" id="addPost" tabindex="-1" role="dialog" aria-labelledby="addPostLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content add-post-content">
                    <div class="modal-header modal-header-properties">
                        <h5 class="modal-title add-post-title" id="addPostLabel">Опубликовать вопрос</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                {#                                <label for="recipient-name" class="col-form-label">Recipient:</label>#}
                                <input type="text" class="form-control post-title-properties" id="post-title"
                                       placeholder="Тема вопроса">
                            </div>
                            <div class="form-group">
                                <label for="add-post-text" class="col-form-label add-post-text-label">Ваш вопрос</label>
                                <textarea id="mytextarea" class="form-control add-post-textarea"
                                          id="message-text"></textarea>
                            </div>
                            <div class="form-group tags-list">
                                <input type="text" id="tag_input" class="form-control tag-input-properties tag tag-input-big" placeholder="Введите тэги через запятую, например “пособие, семья”">
                            </div>
                            <script>
                                $("#tag_input").keyup(function (event) {
                                    if (event.which == 188) {
                                        createTag();
                                    }
                                    if (event.which == 8) {
                                        if ($(".tag_span").length == 0) {
                                            $("#tag_input").attr('placeholder', 'Введите тэги через запятую, например “пособие, семья”');
                                            $("#tag_input").removeClass('tag-input-small');
                                            $("#tag_input").addClass('tag-input-big');
                                        }
                                    }
                                });
                                $("#tag_input").keydown(function (event) {
                                    if (event.which == 8) {
                                        var value = $('#tag_input').val();
                                        if (value.length == 0) {
                                            deleteTag();
                                        }
                                    }
                                });

                                function createTag() {
                                    var value = $('#tag_input').val();
                                    var tag = value.split(",")[0];
                                    console.log(tag);
                                    if (tag.length > 0) {
                                        $('<span class="tag_span">' + tag + '</span>').insertBefore("#tag_input");
                                    }
                                    $('#tag_input').val("");
                                    $("#tag_input").attr('placeholder', 'Тэг');
                                    $("#tag_input").removeClass('tag-input-big');
                                    $("#tag_input").addClass('tag-input-small');
                                }
                                function deleteTag() {
                                    $(".tag_span").last().remove();
                                }
                                
                            </script>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send message</button>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="page-header">
    </div>
    <ul>
        {% for post in object_list %}
            <li>
                <hr>
                {{ post.created_date }} <br>
                <h3><a href="{% url 'post:detail' post.id %}">{{ post.title }}</a></h3> <br>
                {{ post.description }}<br>
                <a>{{ post.tag_set.all|join:", " }}</a><br>
                user:{{ post.user.username }}
                <a href="{% url 'post:post-update' post.id %}" class="btn btn-success">Изменить</a>
                <p>{{ post.like }} <a class="post-like" href="{% url 'post:post-like' post.id %}">Нравится</a></p>
                <form action="{% url 'post:post-delete' post.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger">Удалить</button>
                </form>

            </li>
        {% empty %}
            <li>No posts yet.</li>
        {% endfor %}
    </ul>
{% endblock %}

# Categories
{% block left %}
    <ul>
        {% for category in categories_list %}
            <li class="category-item">
                <a class="category-a" href="#">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

