{% extends 'main/base.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'post/post-list.js' %}"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}


{% block middle %}
    <link rel="stylesheet" type="text/css" href="{% static 'post/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'post/tinymce.css' %}">

    <!--<h1>Posts</h1>
<form action="{% url "post:post-create" %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form> !-->

    <div class="search-menu">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle filter-btn" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Последнее
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item dropdown-item-properties" href="#">Action</a>
                <a class="dropdown-item dropdown-item-properties" href="#">Another action</a>
                <a class="dropdown-item dropdown-item-properties" href="#">Something else here</a>
            </div>
        </div>

        {#        <div class="input-group mb-3 input-group-search">#}
        {#            <div class="input-group-prepend">#}
        {#                <button type="button" class="btn btn-outline-secondary">#}
        {#                    <i class="fa fa-search"></i>#}
        {#                </button>#}
        {#            </div>#}
        {#            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">#}
        {#        </div>#}

        <div>
            <input type="text" class="form-control empty input-group-search" id="iconified" placeholder="Поиск"/>
        </div>

        <div class="add-post-btn">
            <button class="btn btn-default add-post-img" data-toggle="modal" data-target="#addPost"
                    data-whatever="@mdo">
                <img src="/media/edit.svg" width="20"/>
            </button>
        </div>

    </div>


    <div class="add-new-post">

        <div class="modal fade" id="addPost" tabindex="-1" role="dialog" aria-labelledby="addPostLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content add-post-content">
                    <div class="modal-header modal-header-properties">
                        <h5 class="modal-title add-post-title" id="addPostLabel">Опубликовать вопрос</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                {#                                <label for="recipient-name" class="col-form-label">Recipient:</label>#}
                                <input type="text" class="form-control post-title-properties" id="post-title"
                                       placeholder="Тема вопроса">
                            </div>
                            <div class="form-group">
                                <label for="add-post-text" class="col-form-label add-post-text-label">Ваш вопрос</label>
                                <textarea id="mytextarea" class="form-control add-post-textarea"
                                          id="message-text"></textarea>
                            </div>
                            <div class="form-group tags-list">
                                <input type="text" id="tag_input"
                                       class="form-control tag-input-properties tag tag-input-big"
                                       placeholder="Введите тэги через запятую, например “пособие, семья”">
                            </div>
                            <div class="form-check float-right">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Задать анонимно
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send message</button>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="page-header">
    </div>
    <ul>
        {% for post in object_list %}
            <li>
                <hr>
                {{ post.created_date }} <br>
                <h3><a href="{% url 'post:detail' post.id %}">{{ post.title }}</a></h3> <br>
                {{ post.description }}<br>
                <a>{{ post.tag_set.all|join:", " }}</a><br>
                user:{{ post.user.username }}
                <a href="{% url 'post:post-update' post.id %}" class="btn btn-success">Изменить</a>
                <p>{{ post.like }} <a class="post-like" href="{% url 'post:post-like' post.id %}">Нравится</a></p>
                <form action="{% url 'post:post-delete' post.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger">Удалить</button>
                </form>

            </li>
        {% empty %}
            <li>No posts yet.</li>
        {% endfor %}
    </ul>
{% endblock %}

# Categories
{% block left %}
    <ul>
        {% for category in categories_list %}
            <li class="category-item">
                <a class="category-a" href="#">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

