.category-item {
    align-items: center;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    align-items: center;
}

.category-a {
    color: black;
}

.search-menu {
    display: flex;
}

.input-group-search {
    width: 461px;
    height: 30px;
    margin-left: 28px;
    border-radius: 10px;
}

input.empty {
    font-size: 14px;

}

.add-post-btn {
    margin-left: 26px;
}

.add-post-img {
    padding: 0px;
}

.add-post-img:hover {
    background-color: white;
    border-color: white;
}

.filter-btn {
    font-weight: lighter;
    margin-left: 18px;
    color: black;
    background-color: white;
    border-color: white;
    font-size: 14px;
}

.filter-btn:hover {
    background-color: #f9476c;
    border-color: white;
}

.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #f9476c;
    border-color: white;
}

.dropdown-item-properties {
    font-size: 14px;
}

/*Add Post Modal Properties*/
.modal-header-properties {
    border-bottom: none;
}

.add-post-title {
    margin-top: 40px;
    font-family: Montserrat;
    color: #F9476C;
}

.post-title-properties {
    border-left: none;
    border-right: none;
    border-top: none;
}

.add-post-content {
    padding: 0 50px;
    width: 600px;
}

.add-post-text-label {
    font-weight: 100;
}

.add-post-textarea {
    width: 530px;
    height: 156px;
}

.tag-input-properties {
    border-left: none;
    border-right: none;
    border-top: none;
    display: inline;
    width: 100px;
    font-size: 14px;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-bottom: 1px solid #dee2e6;
}

.tag_span {
    margin: 0 5px;
    background-color: #ffd2e2;
    padding: 0 5px;
    font-size: 14px;
}

.tag-input-big {
    width: 100%;
}

.tag-input-small {
    width: 100px;
}

.tox .tox-tbtn svg {
    opacity: 0.5;
}

/*Add Post CheckBox*/

/* The container */
.custom-checkbox {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #000000;
    opacity: 0.2;

}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
    background-color: #F9476C;
    border-color: #F9476C;
    opacity: 1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-secondary:hover {
    border-color: #545b62;
    color: black;
    background-color: white;
}

/*Add post Rubrika DropDown*/

.rubrika-dropdown {
    color: black;
    background-color: white;
    border-color: #cccccc;
    font-size: 14px;
}

.rubrika-item {
    font-size: 14px;
}

.select-rubrika{
    font-size: 14px;
    width: 185px;
    height: 38px;
}

/*Add Post Footer*/

.footer-add-post-properties {
    border-top: none;
}

.cancel-add-post-btn {
    font-size: 14px;
    color: #F9476C;
    background-color: white;
    border-color: white;
}

.cancel-add-post-btn:hover {
    border-color: #F9476C;
    color: #F9476C;
    background-color: white;
}

.post-btn {
    font-size: 14px;
    color: #fff;
    background-color: #F9476C;
    border-color: #F9476C;
}

.post-btn:hover {
    color: #fff;
    background-color: #F9476C;
    border-color: #F9476C;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #F9476C;
    border-color: #F9476C;
}

/*post date*/

.post-created-date {
    opacity: 0.5;
    font-size: 12px;
    margin: 0;
}

.post-created-date-div {
    float: right;
    display: flex;
    align-items: center;
}

.post-created-date-btn {
    border: none;
}

.post-create-date-more-i {
    color: #F9476C;
}

.post-title {
    font-size: 18px;
}

.post-description {
    font-size: 14px;
}

.post-create-user-properties {
    display: flex;
    align-items: center;
    margin: 12px 0;
}

.post-create-user {
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
}

.tags-properties {
    margin: 12px 0;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.tags {
    margin-left: 10px;
}

/*more buttons*/

.update-delete-post-btn {
    font-size: 12px;
}

/*Comment , Like, Bookmark*/

.post-comment-like-bookmark-div {
    min-width: 80px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 7px;
}

.post-like {

}

.post-like-p {
    margin-left: 10px;
    margin: 0;
}

.comment-icon {
    color: #F9476C;
}

.bookmark-p {
}

.bookmark-icon {
    color: #F9476C;
}
